
.sitebuilder-form--table tbody td:first-child {
	min-width: 20%;
	padding-top: 0.5em;
}

.sitebuilder-form--table fieldset {
	border: none;
	padding: 0;
}

	.sitebuilder-form--table fieldset > * {
		margin-bottom: 0.5em;
	}

.sitebuilder-form--table tfoot td {
	text-align: center;
	padding-top: 0.5em;
}
